<nav class="navbar" style="background-color: #235A47; box-shadow: 8px 1px 2px 9px #abebb9;    position: fixed;
margin-left: -40px;
width: 1150px">
    <div class="pt-2">
      <b style="color: white; margin-left: 40px; font-size: 18px;">Task Management System</b>
    </div>
    <div ngbDropdown class="d-inline-block" style="margin-right: 100px;">
      <span type="button" id="dropdownBasic1" ngbDropdownToggle  style="color: white;">
        Admin
      </span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button ngbDropdownItem >Logout</button>
      </div>
    </div>
 
  </nav>
     <!-- <div class="text-right">
      <i class="fa fa-sign-out" aria-hidden="true" type="submit" (click)="logout()" style="color: white; padding-right: 20px;"></i>
    </div> -->